.container {
  background:#333333;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
  align-items: center;
  text-align: center;
  color: black;
}

/* .container .favorite {
  
} */

.favorite button {
    background: none;
    border: 0;
    cursor: pointer;
}


.container h1 {
  font-weight: 800;
  font-size: 3.5em;
  text-transform: uppercase;
}

.container h2 {
  letter-spacing: 1px;
  font-size: 2em;
  margin-right: 20px;
}

.img {
  display: flex;
  justify-content: space-evenly;
  margin: 0 500px;
}

.parrafo {
  margin-top: 40px;
  text-transform: lowercase;
}

.type {
  text-transform: uppercase;
  margin-top: 5px;
  width: 15%;
  border-radius: 20px;
  position: absolute;
  right: 550px;
  margin-top: 50px;
  align-items: center;
  text-align: center;
  background: linear-gradient(110deg, #bbbebd 0%, #6b6e6c 100%);
  margin: 20px 50px; 
}

.stats1 {
  width: 15%;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  background: linear-gradient(110deg, #bbbebd 0%, #6b6e6c 100%);
  margin: 20px 50px; 
  position: absolute;
  right: 550px;;
  margin-top: 50px;
}

.stats2 {
  width: 15%;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  background: linear-gradient(110deg, #bbbebd 0%, #6b6e6c 100%);
  margin: 20px 50px; 
  position: absolute;
  right: 550px;;
  margin-top: 101px;
}

p {
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
}

p span {
  font-weight: 600;
}
