.container {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/662/27/756/pokemon-video-games-pixel-art-pixels-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
  align-items: center;
  text-align: center;
  color: white;
}

.container .pokebola {
  position: absolute;
  right: 250px;
  margin-top: -50px;
}

.pokebola button {
    background: none;
    border: 0;
    cursor: pointer;
}


.container h1 {
  font-weight: 800;
  font-size: 3.5em;
  text-transform: uppercase;
}

.container h2 {
  letter-spacing: 10px;
  font-size: 2em;
  margin-right: 20px;
}

.ima {
  display: flex;
  justify-content: space-evenly;
  margin: 0 500px;
}

.parrafo {
  margin-top: 40px;
  text-transform: lowercase;
}

.type {
  display: flex;
  justify-content: space-around;
  margin: 20px 400px;
}

.type .grass {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    140deg,
    rgba(196, 218, 61, 1) 0%,
    rgba(110, 127, 14, 1) 69%,
    rgba(39, 80, 9, 1) 100%
  );
}

.type .normal {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
}

.type .ground {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(110deg, #fdbb2d 0%, #c08a53 100%);
}

.type .water {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
}

.type .rock {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(110deg, #fdbb2d 0%, #c08a53 100%);
}

.type .electric {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 222, 0, 1) 34%,
    rgba(232, 255, 153, 1) 83%
  );
}

.type .fire {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(199, 24, 0, 1) 10%,
    rgba(252, 194, 69, 1) 100%
  );
}

.type .psychic {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    140deg,
    rgba(255, 167, 249, 1) 0%,
    rgba(255, 44, 195, 1) 39%,
    rgba(255, 227, 167, 1) 100%
  );
}

.type .dark {
  color: white;
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    20deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(16, 11, 50, 1) 33%,
    rgba(92, 2, 73, 1) 100%
  );
}

.type .shadow {
  color: white;
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    20deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(16, 11, 50, 1) 33%,
    rgba(92, 2, 73, 1) 100%
  );
}

.type .poison {
  color: white;
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    20deg,
    rgba(92, 2, 73, 1) 0%,
    rgba(16, 11, 50, 1) 33%,
    rgba(25, 25, 25, 1) 0%
  );
}

.type .bug {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    140deg,
    rgba(39, 80, 9, 1) 0%,
    rgba(110, 127, 14, 1) 69%,
    rgba(196, 218, 61, 1) 100%
  );
}

.type .ice {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    230deg,
    rgba(202, 234, 246, 1) 0%,
    rgba(160, 234, 241, 1) 46%,
    rgba(111, 184, 235, 1) 100%
  );
}
.type .ghost {
  color: white;
  width: 15%;
  border-radius: 20px;
  background: black;
}

.type .steel {
  color: white;
  width: 15%;
  border-radius: 20px;
  background: #7b7b85;
}

.type .fairy {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    rgba(255, 230, 240, 1) 0%,
    rgba(255, 197, 224, 1) 34%,
    rgba(255, 166, 185, 1) 71%,
    rgba(255, 138, 149, 1) 100%
  );
}

.type .flying {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(110deg, #4d6c81 0%, #698ba5 100%);
}

.type .dragon {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(110deg, #44929e 0%, #5fd5e7 100%);
}

.type .fighting {
  width: 15%;
  border-radius: 20px;
  background: linear-gradient(110deg, #a34027 0%, #fb6537 100%);
}

meter {
  width: 450px;
  height: 50px;
  margin: 10px 20px;
}

p {
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
}

p span {
  font-weight: 600;
}
